body {
    
}

.body-content {
    display: flex;
    flex-direction: column;
    max-height: 88.5vh;
    overflow-y: auto;
}

form {
    align-self: center;
    padding-bottom: 50px;
}

input,
select,
textarea {
    max-width: 500px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.jumbotron {
    text-align: center;
}

#bb-form, #nubank-form, #btn-submit {
    display: none;
}