<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Formato do número da agência e da conta composta pelo número mais o dígito. Ex: "1820-3" -->
    <add key="AgenciaBB" value="NUMERO_AGENCIA_AQUI"/>
    <add key="ContaBB" value="NUMERO_CONTA_AQUI"/>
    <add key="SenhaEletronicaBB" value="SENHA_ELETRONICA_AQUI"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>