
@{
    ViewBag.Title = "Resultados";
}

@section NavBarItems {
    <li class="nav-item">
        @Html.ActionLink("Busca", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
    </li>
    <li class="nav-item active">
        @Html.ActionLink("Resultados", "Index", "Results", new { area = "" }, new { @class = "nav-link" })
    </li>
}

<div class="jumbotron">
    <h1 class="display-4">Resultados!</h1>
    <p class="lead">Aqui você confere os dados que já foram extraidos!</p>
</div>

